html {
	height: 100% !important;
	color: #fafafa;
	background-color: #212121;
}

td * {
	color: #fafafa !important;
}

@media (prefers-color-scheme: light) {
	html {
		color: #212121;
		background-color: #ffd54f;
	}

	td * {
		color: #212121 !important;
	}
}

body {
	height: 100% !important;
	overflow: hidden !important;
}

#__next {
	height: 100% !important;
	display: flex !important;
}

#via, #tag {
	order: 11000;
}

div[id^=footnote] {
	order: 10000;
}
